@import url("../../assets/styles/variables.css");

/*MOBILE UI*/
@media screen and (max-width: 899px) {
    .search-wrapper{
        background-color: red;
    }
}


/*DESKTOP UI*/
@media screen and (min-width: 900px) {
    .search-wrapper{
    }
    .search-bar-container{
        background-color: gray;
        display: flex;
        max-width: 60%;
        margin: auto;
    }

}