@import url("../../assets/styles/variables.css");


@media screen and (max-width: 899px) {
    .sidebar{
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .sidebar{
        background-color: var(--secondary-background-color);
        min-height: 100%;
        position: fixed;
        width: 100%;
    }
    h1{
        color: white;
    }
    h2{
        color: var(--secondary-background-color);
        transition: color 0.3s ease-in-out;
    }
    h2:hover{
        color: white;
    }
    .auth-menu{
        display: flex;
        flex-direction: column;
        padding: 0%;
        margin: 1vh;
    }
    .auth-menu li{
        background-color: var(--dark-button-background);
        width: 100%;
        padding: 0.4%;
        margin: 0.2%;
    }
    .auth-menu li a{
        font-family: var(--text-font);
        color: var(--white-font-color);
    }
}