@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');
:root{
    --primary-background-color: #F9FAFC;
    --secondary-background-color: #2593D5;
    --additional-background-color: #FFFFFF;
    --dark-button-background: #1570a8;
    --button-hover-background-color: #0e5480;
    --border-color: #3f42433a;

    --google-auth-background-color: #3f42430c;
    
    --primary-header-fontfamily: "Roboto";
    --text-fontfamily: "Roboto Slab";

    --dark-font-color: #3F4243;
    --light-font-color: #BEC7CE;
    --white-font-color: #FFFFFF;
    --blue-font-color: #2593D5;
    --black-font-color: #222;


    --logo-font: "Edu VIC WA NT Beginner";
    --text-font: "Roboto Slab";
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4{
    font-family: "Roboto";
}
p, span{
    font-family: "Roboto Slab";
}
