@import url("../../assets/styles/variables.css");


header{
  background-color: var(--secondary-background-color);
  z-index: 999;
  height: 20vh;
}
.logo{
  margin-left: 3%;
  padding-top: 3%;
}
.logo span a{
  font-size: 2em;
  font-family: var(--logo-font);
  color: #fff;
}
nav{
  flex-direction: column;
  width: 80vw;
  height: fit-content;
  padding: 5% 0 5% 0%;
  background-color: var(--secondary-background-color);
  transition: transform 0.3s ease, opacity 0.3s ease;
  margin-top: 12vh;
}
@media (max-width: 899px) {
  nav.show{
    opacity: 1;
    display: flex;
    transform: translateX(0);
  }
  nav.hide{
    display: flex;
    transform: translateX(-90vw);
    opacity: 0;
  }
}

.menu-items li{
  padding: 2%;
  background-color: var(--primary-background-color);
  margin: 2%;
  width: 90%;
  font-size: 150%;
  border-radius: 10px;
}
.menu-items li a{
  color: var(--dark-font-color);
  padding-left: 10%;
}
.menu-icon{
  height: 100%;
  width: 100%;
  position: fixed;
}
.menu-icon img{
  width: 100px;
  height: 100px;
}

/* DESKTOP VIEW */
@media (min-width: 900px) {
  .menu-icon {
    display: none;
  }

  header {
    display: flex;
    flex-direction: row;
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 7vh;
    background: transparent;
    background-color: var(--secondary-background-color);
  }

  .logo {
    display: flex;
    min-width: 20vw;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .logo span a{
    color: var(--white-font-color);
  }

  nav{
    padding: 0%;
    position: relative;
    margin: 0;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .menu{
    display: flex;
  }
.auth-links-div{
  margin-right: 1%;
  padding: 0;
  display: flex;
  height: 7vh;
  align-items: center;
  margin-top: 2%;
}
.menu-list{
  flex: 1.5;
}
  .auth-links-div ul{
    display: flex;
    flex-direction: row;
  }
  .menu-list ul{
    display: flex;
    flex-direction: row;
  }
  .menu-list ul li, .auth-links-div ul li{
    background-color: transparent;
    white-space: nowrap;
    padding: 0.2em 2em 0.2em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
  .menu-list ul li a, .auth-links-div ul li a{
    font-family: var(--text-font);
    color: var(--white-font-color);
    font-size: 0.7em;
    transition: text-decoration 2s ease-in-out;
  }
  a:hover{
    text-decoration: underline;
  }
  
}