@import url("../../assets/styles/variables.css");


.logo a span{
  font-family: var(--logo-font);
  font-size: 2.3em;
  font-weight: 500;
  color: var(--white-font-color);
}

/*Mobile UI*/
@media screen and (max-width: 899px) {
    .menu-icon{
      display: flex;
      position: fixed;
      top: 0%;
      z-index: 10;
    }
    .menu-icon img{
      width: 9vw;
      max-width: 40px;
      height: auto;
    }
    .menu-list ul li span{
      display: none;
    }
    .menu-list ul{
      display: flex;
      background-color: var(--secondary-background-color);
      position: fixed;
      bottom: 0%;
      width: 100%;
      max-height: 40px;
      padding: 0.1em;
    }
    .menu-items.hide{
      background-color: var(--secondary-background-color);
    }
    .menu-items.show{
      background-color: var(--button-hover-background-color);
    }
    .menu-list ul li{
      padding: 0.2em;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0.1em;
      box-shadow: -10px -10px 18px 0px rgba(0,0,0,0.1);
    }
    .auth-links-div{
      position: absolute;
      top: 40px;
      display: flex;
      background-color: var(--secondary-background-color);
      padding-right: 1em;
    }
    .auth-links-div.hide{
      display: none;
    }
    .auth-links-div.show{
      display: none;
      /* Change this to flex to show the menu*/
    }
    .auth-links-div ul li a{
      font-family: var(--text-font);
      font-size: 1em;
      color: var(--white-font-color);
    }
    .notification-icon{
      position: fixed;
      top: 0;
      background-color: var(--secondary-background-color);
      right: 0%;
      width: 10vw;
      max-width: 10vw;
      height: 5vh;
      max-height: 5vh;
      z-index: 1000;
    }
    .note-counter, .message-couter{
      color: red;
      position: absolute;
      margin-top: -10%;
      margin-left: 50%;
      font-weight: 600;
      font-size: 1em;
      font-family: var(--text-font);
    }
    .messages{
      position: relative;
    }
}


/*Desktop UI*/
@media screen and (min-width: 900px) {
  header{
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-wrapper{
    background-color: var(--secondary-background-color);
    height: 100vh;
  }
  .navbar-wrapper-fixed{
    position: sticky;
    top: 0%;
  }
  .menu-icon{
    display: none;
  }
  .menu-items{
    margin-top: 40%;
    padding: 0;
  }
  .menu-items li{
    margin: 0 10px;
  }
  .menu-items li a{
    display: flex;
    align-items: center;
    padding: 0.5vh;
    color: var(--white-font-color);
    font-family: var(--text-font);
    background-color: var(--dark-button-background);
    margin: 0.5vh;
    border-radius: 3px;
    transition: background-color 0.5s ease-in-out ;
  }
  .menu-items li a:hover{
    background-color: var(--button-hover-background-color);
  }
  .menu-items li a span{
    flex: 1;
  }
  .menu-items li a img{
    flex: 1;
    height: 2.2em;
    width: 2.2em;
  }
  .note-counter, .message-couter{
    color: red;
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
    font-weight: 600;
    font-size: 1em;
    font-family: var(--text-font);
  }
  .menu-items ul li{
    position: relative;
  }

}