@import url("../../assets/styles/variables.css");

@media screen and (max-width: 899px) {
    .joblist-section{
        min-height: fit-content;
        margin-top: 0vh;
        padding: 5vh 1vw 0 1vw;
    }
    .joblist-card{
        min-height: fit-content;
        padding: 1vh 1vw 5px 1vw;
        border-bottom: 1px solid var(--border-color);
    }
    .job-metadata, .job-pay{
        display: flex;
        height: 5vh;
        background-color: var(--secondary-background-color);
        color: var(--black-font-color);
        font-family: var(--text-font);
        padding: 6px;
        align-items: center;
    }
    .job-pay{
        background-color: var(--heading-background-color);
        margin-top: 1%;
        font-size: 1rem;
    }
    .job-pay span{
        width: fit-content;
    }
    .job-location{
        flex: 0.9;
    }
    .bid-amount{
        flex: 0.9;
        font-weight: 500;
    }
    .share-icon{
        flex: 0.2;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .job-metadata span{
        margin: 0.3vw;
    }
    .user-dp{
        flex: 0.2;
        border-radius: 50%;
        max-height: 50px;
        max-width: 50px;
        padding: 0%;
        margin: 0%;
    }
    .user-dp img{
        max-width: 50px;
        border-radius: 50%;
    }
    .user-name, .created_at{
        flex: 0.9;
    }
    .job-content{
        padding: 0.8%;
        max-width: 500px;
        display: flex;
        justify-content: center;
        font-family: var(--text-font);
        font-size: 1em;
        color: var(--black-font-color);
    }
    .job-media{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        height: auto;
    }
    .job-media img{
        border-radius: 10px;
        width: 98%;
        max-width: 98%;
        height: auto;
    }
    /*Share link popup*/
    .job-share-link{
        display: block;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: var(--text-font);
        font-size: 1rem;
      }
      .link-content{
        display: flex;
        margin-top: 10%;
        justify-content: center;
        flex-direction: column;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .copy-icon svg{
        width: 15%;
      }
      .copy-icon{
        background-color: red;
        display: flex;
        align-items: center;
        padding: 0%;
      }
      .copy-success-message{
        color: green;
      }
}


/* DESKTOP UI */
@media screen and (min-width: 900px) {
    .joblist-section{
        min-height: fit-content;
    }
    .joblist-wrapper{
        padding: 1% 1%;
        margin: 0.7%;
        border-bottom: 2px solid var(--border-color);
    }
    .joblist-card{
        min-height: fit-content;
        border-bottom: 1px solid var(--border-color);
    }
    .job-metadata{
        display: flex;
    }
    .job-metadata span{
        flex: 1;
        color: var(--white-font-color);
        font-family: var(--text-font);
        background-color: var(--secondary-background-color);
        min-height: 40px;
        display: flex;
        align-items: center;
        padding: 0.2em;
    }
    .job-metadata span img{
        max-width: 50px;
    }
    .job-media img{
        width: 100%;
        max-width: 100%;
        border-radius: 8px;
    }
    .job-content{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.5em 0 0.5em 0;
    }
    .job-content span{
        max-width: 600px;
        font-family: var(--text-font);
        font-size: 1em;
        color: var(--black-font-color);
    }

    .created-at{
        flex: 1.2;
        
    }
    .user-name{
        flex: 0.6;
    }
    .job-pay{
        background-color: var(--heading-background-color);
        margin-top: 1%;
        font-size: 1rem;
        padding: 1%;
    }

    .job-pay{
        display: flex;
        align-items: center;
    }
    .job-pay span{
        flex: 1;
        font-family: var(--text-font);
        font-size: 1em;
        color: var(--black-font-color);
    }
    .share-icon{
        display: flex;
        justify-content: flex-end;
    }
    /*Link share popup*/
    .link-content{
        padding: 1%;
    }
    .link-content span{
        padding: 1%;
    }
    .copy-success-message{
        display: none;
    }
    .share-link-popup{
        max-width: 50%;
    }
}


/*UNIVERSAL POPUP STYLES*/
    /*SHARE JOB LINK POPUP STYLES*/
    /* Overlay container that holds the popup, hidden by default */
    .share-popup-link-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
        display: none; /* Initially hidden */
        align-items: center; /* Center the popup vertically */
        justify-content: center; /* Center the popup horizontally */
      }
      
      /* Show the overlay and center the popup when .show class is added */
      .share-popup-link-overlay.show {
        display: flex; /* Flex makes the overlay visible */
      }
      
      /* Style the actual popup */
      .share-link-popup {
        border: 5px solid var(--secondary-background-color);
        position: relative; /* Relative to the flex center of the parent */
        width: 80vw;
        height: 25vh;
        background-color: white;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 1);
        z-index: 1000;
        border-radius: 5px;
        font-size: 1rem;
        padding: 1%;
        display: flex;
        flex-direction: column;
      }
    
