@import url("../../assets/styles/variables.css");

@media screen and (max-width: 899px){
    .home-content-wrapper{
        display: flex;
        flex-direction: column-reverse;
        min-width: 100%;
        min-height: 100vh;
    }
    .nav-wrapper{
        flex: 0.3;
    }
    .middle-wrapper{
        flex: 1.7;
    }
}

@media screen and (min-width: 900px) {
    .home-content-wrapper{
        display: flex;
    }
    .nav-wrapper{
        flex: 0.4;
    }
    .middle-wrapper{
        flex: 1.2;
    }
    .other-content-right{
        flex: 0.4;
        flex-direction: column;
        display: flex;
    }
}